{% extends 'base.html.twig' %}

{% block title %}Liste des comptes{% endblock %}

{% block body %}

    {% include '/header.html.twig' %}
<div>
    <ul>
        <h2>Comptes</h2>
        {% for user in users %}
        <li>{{ user.email }}, {{ user.password }}, {{ user.roles.0|raw }}
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}
